body {
    font-family: Cambria;
    font-style: normal; 
    font-variant: normal;
    font-weight: 100;
    line-height: 1.6;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    color: #333;
    height: 900px;
    width: 670px;
    max-width: fit-content;
    background-color: #b8b4b4d1;
}
h1, h2, h3 {
    color: #000000;
}
h1 {
    font-size: 50px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 100; 
    line-height: 26px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
h2 {
    font-size: 26px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 100; 
    line-height: 26.4px;
    margin-top: 20px;
    margin-bottom: 2px;
}
h3 { 
    font-size: 18px;
    font-style: normal; 
    font-variant: normal; 
    font-weight: 100; 
    margin-top: 15px;
    margin-bottom: 2px;
}
hr {
    border: none;
    height: 2px;
    color: #000;  /* old IE */
    background-color: #000000;  /* Modern Browsers */
}
p {
    margin: 2px 0;
    font-size: 14px;
}
ul {
    margin: 5px 0;
    padding-left: 20px;
    padding-bottom: 2px;
    font-size: 14px;
}
ul li {
    margin-bottom: 5px;
    font-size: 14px;
}
.contact-info {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.contact-info a {
    color: rgb(09, 106, 167);
    text-decoration: underline;
}
.main{
    background-color: whitesmoke;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.skills-table {
    width: 100%;
    
    border-collapse: collapse;
    margin-bottom: 20px;
}
.skills-table td {
    border: none;
    padding: 2px;
    vertical-align: top;
}
.section {
    margin-bottom: 30px;
}